
<article class="post-block-style-wrapper post-block-template-one post-block-template-small">
        <div class="post-block-style-inner">
        <div class="post-block-media-wrap">
            <a href="post-single.html"><img src="assets/media/team-mate.jpg" alt="Post title" /></a>
        </div>
        <div class="post-block-content-wrap">
            <div class="post-item-title">
            <h2 class="post-title"><a href="post-single.html">Michelle Tea’s Punk Parenting Memoir</a></h2>
            </div>
            <div class="post-bottom-meta-list">
            <div class="post-meta-author-box">
                By <a href="javascript:void(0)">Laura Tanenbaum</a>
            </div>
            <div class="post-meta-date-box">Sep 22</div>
            </div>
        </div>
        </div>
    </article>