{% extends 'Main/base.html' %}
{% load static %}

{% block content %}

  <body>
    <!-- Site Wrapper -->
    <div id="main-wrapper" class="main-wrapper">
      <section class="blog-hero-area mt-30">
        <div class="container">
          <div class="row">
            <div class="col-lg-3">
              {% include "Main/article.html" %}
            </div>
            <div class="col-lg-6">
              {% include "Main/article2.html" %}
            </div>
            <div class="col-lg-3">
              <div class="section-title sm-mt-24">
                <h2 class="title-block">Todays Pick</h2>
              </div>
              <div class="post-block-template-two-wrapper">
                {% include "Main/article.html" %}
              </div>
              <div class="ads-widget mt-40">
                <a href="post-single.html"><img src="assets/media/ads-sidebar.png" alt="Advertisement" /></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="section-divider mt-60 mb-60"></div>
      <section class="editor-choice-one-area">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="section-title">
                <h2 class="title-block">Todays Pick</h2>
              </div>
              <div class="post-block-template-three-wrapper">
                <article class="post-block-style-wrapper post-block-template-three">
                  <div class="post-block-style-inner post-block-list-style-inner-three">
                    <div class="post-block-number-wrap">
                      <span class="post-number-counter">1</span>
                    </div>
                    <div class="post-block-content-wrap">
                      <div class="post-item-title">
                        <h2 class="post-title"><a href="post-single.html">Our company creates with a hobby</a></h2>
                      </div>
                      <div class="post-bottom-meta-list">
                        <div class="post-meta-author-box">
                          By <a href="javascript:void(0)">Laura Tanenbaum</a>
                        </div>
                        <div class="post-meta-date-box">Sep 22</div>
                      </div>
                    </div>
                  </div>
                </article>
                <article class="post-block-style-wrapper post-block-template-three">
                  <div class="post-block-style-inner post-block-list-style-inner-three">
                    <div class="post-block-number-wrap">
                      <span class="post-number-counter">2</span>
                    </div>
                    <div class="post-block-content-wrap">
                      <div class="post-item-title">
                        <h2 class="post-title"><a href="post-single.html">Sayaka Murata Inhabits a Planet of Her Own</a></h2>
                      </div>
                      <div class="post-bottom-meta-list">
                        <div class="post-meta-author-box">
                          By <a href="javascript:void(0)">Laura Tanenbaum</a>
                        </div>
                        <div class="post-meta-date-box">Sep 22</div>
                      </div>
                    </div>
                  </div>
                </article>
                <article class="post-block-style-wrapper post-block-template-three">
                  <div class="post-block-style-inner post-block-list-style-inner-three">
                    <div class="post-block-number-wrap">
                      <span class="post-number-counter">3</span>
                    </div>
                    <div class="post-block-content-wrap">
                      <div class="post-item-title">
                        <h2 class="post-title"><a href="post-single.html">Flutter: the good, bad and the ugly</a></h2>
                      </div>
                      <div class="post-bottom-meta-list">
                        <div class="post-meta-author-box">
                          By <a href="javascript:void(0)">Laura Tanenbaum</a>
                        </div>
                        <div class="post-meta-date-box">Sep 22</div>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
            </div>
            <div class="col-lg-8 most-recent-col-custom">
              <div class="row">
                <div class="col-lg-12">
                  <div class="section-title">
                    <h2 class="title-block">Most Recent</h2>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <article class="post-block-style-wrapper post-block-template-one post-block-template-medium">
                    <div class="post-block-style-inner">
                      <div class="post-block-media-wrap">
                        <a href="post-single.html"><img src="assets/media/cafe.jpg" alt="Post title" /></a>
                      </div>
                      <div class="post-block-content-wrap">
                        <div class="post-item-title">
                          <h2 class="post-title"><a href="post-single.html">The Complicity of the Textbooks</a></h2>
                        </div>
                        <div class="post-excerpt-box">
                          <p>In Teaching White Supremacy, Donald Yacovone traces how the writing</p>
                        </div>
                        <div class="post-bottom-meta-list">
                          <div class="post-meta-author-box">
                            By <a href="javascript:void(0)">Laura Tanenbaum</a>
                          </div>
                          <div class="post-meta-date-box">Sep 22</div>
                        </div>
                      </div>
                    </div>
                  </article>
                </div>
                <div class="col-lg-6">
                  <article class="post-block-style-wrapper post-block-template-one post-block-template-medium">
                    <div class="post-block-style-inner">
                      <div class="post-block-media-wrap">
                        <a href="post-single.html"><img src="assets/media/red-girl.jpg" alt="Post title" /></a>
                      </div>
                      <div class="post-block-content-wrap">
                        <div class="post-item-title">
                          <h2 class="post-title"><a href="post-single.html">When walking, I keep my eyes straight ahead</a></h2>
                        </div>
                        <div class="post-excerpt-box">
                          <p>Anelle, don’t look down. revere the sun. watch it make a shallow arc, skimming like a stone</p>
                        </div>
                        <div class="post-bottom-meta-list">
                          <div class="post-meta-author-box">
                            By <a href="javascript:void(0)">Laura Tanenbaum</a>
                          </div>
                          <div class="post-meta-date-box">Sep 22</div>
                        </div>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="ads-area mt-70 mb-60">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h3 class="ads-caption d-none">Advertisement</h3>
              <div class="ads-image">
                <a href="post-single.html"><img src="assets/media/ads-full.png" alt="Ads" /></a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="editor-choice-two-area">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-title">
                <h2 class="title-block">Editor Choice</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8">
              <article class="post-block-style-wrapper post-block-template-four">
                <div class="post-block-style-inner post-block-list-style-inner">
                  <div class="post-block-content-wrap">
                    <div class="post-item-title">
                      <h2 class="post-title"><a href="post-single.html">When walking, I keep my eyes straight ahead</a></h2>
                    </div>
                    <div class="post-excerpt-box">
                      <p>Anelle, don’t look down. revere the sun. watch it make a shallow arc, skimming like a stone across</p>
                    </div>
                    <div class="post-bottom-meta-list">
                      <div class="post-meta-author-box">
                        By <a href="javascript:void(0)">Laura Tanenbaum</a>
                      </div>
                      <div class="post-meta-date-box">Sep 22</div>
                    </div>
                  </div>
                  <div class="post-block-media-wrap">
                    <a href="post-single.html"><img src="assets/media/martha.jpg" alt="Post title" /></a>
                  </div>
                </div>
              </article>
              <article class="post-block-style-wrapper post-block-template-four">
                <div class="post-block-style-inner post-block-list-style-inner">
                  <div class="post-block-content-wrap">
                    <div class="post-item-title">
                      <h2 class="post-title"><a href="post-single.html">You have to fight to reach your dream</a></h2>
                    </div>
                    <div class="post-excerpt-box">
                      <p>Anelle, don’t look down. revere the sun. watch it make a shallow arc, skimming like a stone across</p>
                    </div>
                    <div class="post-bottom-meta-list">
                      <div class="post-meta-author-box">
                        By <a href="javascript:void(0)">Laura Tanenbaum</a>
                      </div>
                      <div class="post-meta-date-box">Sep 22</div>
                    </div>
                  </div>
                  <div class="post-block-media-wrap">
                    <a href="post-single.html"><img src="assets/media/martha.jpg" alt="Post title" /></a>
                  </div>
                </div>
              </article>
              <article class="post-block-style-wrapper post-block-template-four">
                <div class="post-block-style-inner post-block-list-style-inner">
                  <div class="post-block-content-wrap">
                    <div class="post-item-title">
                      <h2 class="post-title"><a href="post-single.html">Beauty products that still beloved today</a></h2>
                    </div>
                    <div class="post-excerpt-box">
                      <p>A non-fungible token is a record on a blockchain which is associated with a particular digital or physical asset.</p>
                    </div>
                    <div class="post-bottom-meta-list">
                      <div class="post-meta-author-box">
                        By <a href="javascript:void(0)">Laura Tanenbaum</a>
                      </div>
                      <div class="post-meta-date-box">Sep 22</div>
                    </div>
                  </div>
                  <div class="post-block-media-wrap">
                    <a href="post-single.html"><img src="assets/media/martha.jpg" alt="Post title" /></a>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-lg-4">
              <div class="section-title mt-custom">
                <h2 class="title-block">Most Read Articles</h2>
              </div>
              <article class="post-block-style-wrapper post-block-template-two most-read-block-list">
                <div class="post-block-style-inner post-block-list-style-inner">
                  <div class="post-block-media-wrap">
                    <a href="post-single.html"><img src="assets/media/brown-fashion.jpg" alt="Post title" /></a>
                  </div>
                  <div class="post-block-content-wrap">
                    <div class="post-item-title">
                      <h2 class="post-title"><a href="post-single.html">Rachel Maddow Will Go Mondays Only On MSNBC</a></h2>
                    </div>
                    <div class="post-bottom-meta-list">
                      <div class="post-meta-author-box">
                        <a href="javascript:void(0)">Cristiano</a>
                      </div>
                      <div class="post-meta-date-box">Sep 30</div>
                    </div>
                  </div>
                </div>
              </article>
              <article class="post-block-style-wrapper post-block-template-two most-read-block-list">
                <div class="post-block-style-inner post-block-list-style-inner">
                  <div class="post-block-media-wrap">
                    <a href="post-single.html"><img src="assets/media/brown-fashion.jpg" alt="Post title" /></a>
                  </div>
                  <div class="post-block-content-wrap">
                    <div class="post-item-title">
                      <h2 class="post-title"><a href="post-single.html">How to Get Glowing Skin With Minimal Makeup</a></h2>
                    </div>
                    <div class="post-bottom-meta-list">
                      <div class="post-meta-author-box">
                        <a href="javascript:void(0)">Cristiano</a>
                      </div>
                      <div class="post-meta-date-box">Sep 30</div>
                    </div>
                  </div>
                </div>
              </article>
              <article class="post-block-style-wrapper post-block-template-two most-read-block-list">
                <div class="post-block-style-inner post-block-list-style-inner">
                  <div class="post-block-media-wrap">
                    <a href="post-single.html"><img src="assets/media/classic-dress.jpg" alt="Post title" /></a>
                  </div>
                  <div class="post-block-content-wrap">
                    <div class="post-item-title">
                      <h2 class="post-title"><a href="post-single.html">Using UX law in design are adept surprisingly</a></h2>
                    </div>
                    <div class="post-bottom-meta-list">
                      <div class="post-meta-author-box">
                        <a href="javascript:void(0)">Cristiano</a>
                      </div>
                      <div class="post-meta-date-box">Sep 30</div>
                    </div>
                  </div>
                </div>
              </article>
              <article class="post-block-style-wrapper post-block-template-two most-read-block-list">
                <div class="post-block-style-inner post-block-list-style-inner">
                  <div class="post-block-media-wrap">
                    <a href="post-single.html"><img src="assets/media/sky-hat.jpg" alt="Post title" /></a>
                  </div>
                  <div class="post-block-content-wrap">
                    <div class="post-item-title">
                      <h2 class="post-title"><a href="post-single.html">Five signs of a healthy intelligent person</a></h2>
                    </div>
                    <div class="post-bottom-meta-list">
                      <div class="post-meta-author-box">
                        <a href="javascript:void(0)">Cristiano</a>
                      </div>
                      <div class="post-meta-date-box">Sep 30</div>
                    </div>
                  </div>
                </div>
              </article>
              <article class="post-block-style-wrapper post-block-template-two most-read-block-list">
                <div class="post-block-style-inner post-block-list-style-inner">
                  <div class="post-block-media-wrap">
                    <a href="post-single.html"><img src="assets/media/bridge-front.jpg" alt="Post title" /></a>
                  </div>
                  <div class="post-block-content-wrap">
                    <div class="post-item-title">
                      <h2 class="post-title"><a href="post-single.html">Brussels Edition: Seeking a Trade Reset</a></h2>
                    </div>
                    <div class="post-bottom-meta-list">
                      <div class="post-meta-author-box">
                        <a href="javascript:void(0)">Cristiano</a>
                      </div>
                      <div class="post-meta-date-box">Sep 30</div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
      <div class="section-divider mt-60 mb-60"></div>
      <section class="articles-grid-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-title">
                <h2 class="title-block">Articles</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <article class="post-block-style-wrapper post-block-template-one post-block-template-small">
                <div class="post-block-style-inner">
                  <div class="post-block-media-wrap">
                    <a href="post-single.html"><img src="assets/media/camera.jpg" alt="Post title" /></a>
                  </div>
                  <div class="post-block-content-wrap">
                    <div class="post-item-title">
                      <h2 class="post-title"><a href="post-single.html">Michelle Tea's Punk Parenting Memoir</a></h2>
                    </div>
                    <div class="post-bottom-meta-list">
                      <div class="post-meta-author-box">
                        By <a href="javascript:void(0)">Muntahin</a>
                      </div>
                      <div class="post-meta-date-box">Sep 22</div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-lg-3">
              <article class="post-block-style-wrapper post-block-template-one post-block-template-small">
                <div class="post-block-style-inner">
                  <div class="post-block-media-wrap">
                    <a href="post-single.html"><img src="assets/media/camera.jpg" alt="Post title" /></a>
                  </div>
                  <div class="post-block-content-wrap">
                    <div class="post-item-title">
                      <h2 class="post-title"><a href="post-single.html">A beginner’s guide to customer journey maps</a></h2>
                    </div>
                    <div class="post-bottom-meta-list">
                      <div class="post-meta-author-box">
                        By <a href="javascript:void(0)">Muntahin</a>
                      </div>
                      <div class="post-meta-date-box">Sep 22</div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-lg-3">
              <article class="post-block-style-wrapper post-block-template-one post-block-template-small">
                <div class="post-block-style-inner">
                  <div class="post-block-media-wrap">
                    <a href="post-single.html"><img src="assets/media/camera.jpg" alt="Post title" /></a>
                  </div>
                  <div class="post-block-content-wrap">
                    <div class="post-item-title">
                      <h2 class="post-title"><a href="post-single.html">Establishing That You Have Something To Say</a></h2>
                    </div>
                    <div class="post-bottom-meta-list">
                      <div class="post-meta-author-box">
                        By <a href="javascript:void(0)">Muntahin</a>
                      </div>
                      <div class="post-meta-date-box">Sep 22</div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-lg-3">
              <div class="newsletter-box-wrapper">
                <h3>Sign up for our newsletters!</h3>
                <form action="newsletter.php" method="post">
                  <input type="email" name="email" id="femail" />
                  <input type="submit" value="Subscribe" id="fsubmit" />
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="most-popular-area mt-60">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-title">
                <h2 class="title-block">Most Popular</h2>
              </div>
            </div>
          </div>
          <div class="row mb-50">
            <div class="col-lg-5">
              <article class="post-block-style-wrapper post-block-template-one custom-spacing">
                <div class="post-block-style-inner">
                  <div class="post-block-media-wrap">
                    <a href="post-single.html"><img src="assets/media/headphone-girl.jpg" alt="Post title" /></a>
                  </div>
                  <div class="post-block-content-wrap">
                    <div class="post-item-title">
                      <h2 class="post-title"><a href="post-single.html">Every day, in every city and town across the country</a></h2>
                    </div>
                    <div class="post-excerpt-box">
                      <p>The majog oil-producing state has long tried to have it both ways regulating emissions</p>
                    </div>
                    <div class="post-bottom-meta-list">
                      <div class="post-meta-author-box">
                        By <a href="javascript:void(0)">Laura Tanenbaum</a>
                      </div>
                      <div class="post-meta-date-box">Sep 22</div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-lg-7">
              <article class="post-block-style-wrapper post-block-template-four">
                <div class="post-block-style-inner post-block-list-style-inner">
                  <div class="post-block-content-wrap">
                    <div class="post-item-title">
                      <h2 class="post-title"><a href="post-single.html">I work best when my space is filled with inspiration</a></h2>
                    </div>
                    <div class="post-excerpt-box">
                      <p>Australians have just learned their election will be held on 21 May. At a crucial time</p>
                    </div>
                    <div class="post-bottom-meta-list">
                      <div class="post-meta-author-box">
                        By <a href="javascript:void(0)">Cristiano</a>
                      </div>
                      <div class="post-meta-date-box">Sep 22</div>
                    </div>
                  </div>
                  <div class="post-block-media-wrap">
                    <a href="post-single.html"><img src="assets/media/office.jpg" alt="Post title" /></a>
                  </div>
                </div>
              </article>
              <article class="post-block-style-wrapper post-block-template-four">
                <div class="post-block-style-inner post-block-list-style-inner">
                  <div class="post-block-content-wrap">
                    <div class="post-item-title">
                      <h2 class="post-title"><a href="post-single.html">It’s a new era in design, there are no rules</a></h2>
                    </div>
                    <div class="post-excerpt-box">
                      <p>Anelle, don’t look down. revere the sun. watch it make a shallow arc</p>
                    </div>
                    <div class="post-bottom-meta-list">
                      <div class="post-meta-author-box">
                        By <a href="javascript:void(0)">Cristiano</a>
                      </div>
                      <div class="post-meta-date-box">Sep 22</div>
                    </div>
                  </div>
                  <div class="post-block-media-wrap">
                    <a href="post-single.html"><img src="assets/media/paint.jpg" alt="Post title" /></a>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <div class="row divider-border">
            <div class="col-lg-4">
              <div class="post-block-template-three-wrapper popular-post-block-bottom-wrapper">
                <article class="post-block-style-wrapper post-block-template-three">
                  <div class="post-block-style-inner post-block-list-style-inner-three">
                    <div class="post-block-number-wrap">
                      <span class="post-number-counter">1</span>
                    </div>
                    <div class="post-block-content-wrap">
                      <div class="post-item-title">
                        <h2 class="post-title"><a href="post-single.html">Urban green revivo oversized blazer</a></h2>
                      </div>
                      <div class="post-bottom-meta-list">
                        <div class="post-meta-author-box">
                          By <a href="javascript:void(0)">Laura Tanenbaum</a>
                        </div>
                        <div class="post-meta-date-box">Sep 22</div>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="post-block-template-three-wrapper popular-post-block-bottom-wrapper">
                <article class="post-block-style-wrapper post-block-template-three">
                  <div class="post-block-style-inner post-block-list-style-inner-three">
                    <div class="post-block-number-wrap">
                      <span class="post-number-counter">2</span>
                    </div>
                    <div class="post-block-content-wrap">
                      <div class="post-item-title">
                        <h2 class="post-title"><a href="post-single.html">Varsity brown bomber jacket in tan</a></h2>
                      </div>
                      <div class="post-bottom-meta-list">
                        <div class="post-meta-author-box">
                          By <a href="javascript:void(0)">Laura Tanenbaum</a>
                        </div>
                        <div class="post-meta-date-box">Sep 22</div>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="post-block-template-three-wrapper popular-post-block-bottom-wrapper">
                <article class="post-block-style-wrapper post-block-template-three">
                  <div class="post-block-style-inner post-block-list-style-inner-three">
                    <div class="post-block-number-wrap">
                      <span class="post-number-counter">3</span>
                    </div>
                    <div class="post-block-content-wrap">
                      <div class="post-item-title">
                        <h2 class="post-title"><a href="post-single.html">Blossom is an incredibly easy method</a></h2>
                      </div>
                      <div class="post-bottom-meta-list">
                        <div class="post-meta-author-box">
                          By <a href="javascript:void(0)">Laura Tanenbaum</a>
                        </div>
                        <div class="post-meta-date-box">Sep 22</div>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="video-posts-area pt-80 pb-80 mt-80">
        <div class="container">
          <div class="row">
            <div class="col-lg-7">
              <div class="section-title">
                <h2 class="title-block">Featured Videos</h2>
              </div>
              <article class="post-block-style-wrapper post-block-template-one post-block-video">
                <div class="post-block-style-inner">
                  <div class="post-block-video-thumb">
                    <div class="post-block-media-wrap">
                      <a href="post-single.html"><img src="assets/media/singer.jpg" alt="Post title" /></a>
                    </div>
                    <div class="video-play-icon-wrap">
                      <a href="post-single.html" class="theme-play-btn video-play-btn"></a>
                    </div>
                  </div>
                  <div class="post-block-content-wrap">
                    <div class="post-item-title">
                      <h2 class="post-title"><a href="post-single.html">8 Reasons to become a Design Preneur</a></h2>
                    </div>
                    <div class="post-excerpt-box">
                      <p>Design your way to success by Mike Rosales hellow and welcome to my blog on anaything about Design and Entrepreneurship</p>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-lg-5">
              <div class="section-btn text-end">
                <a href="post-single.html"><span>+</span>See All Videos</a>
              </div>
              <article class="post-block-style-wrapper post-block-template-two post-video-list">
                <div class="post-block-style-inner post-block-list-style-inner">
                  <div class="post-block-media-wrap">
                    <a href="post-single.html"><img src="assets/media/model.jpg" alt="Post title" /></a>
                  </div>
                  <div class="post-block-content-wrap">
                    <div class="post-item-title">
                      <h2 class="post-title"><a href="post-single.html">Maddie Ziegler Takes a Lie Detector Test</a></h2>
                    </div>
                    <div class="post-bottom-meta-list">
                      <div class="post-meta-author-box">
                        <a href="javascript:void(0)">Cristiano</a>
                      </div>
                      <div class="post-meta-date-box">Sep 30</div>
                    </div>
                  </div>
                </div>
              </article>
              <article class="post-block-style-wrapper post-block-template-two post-video-list">
                <div class="post-block-style-inner post-block-list-style-inner">
                  <div class="post-block-media-wrap">
                    <a href="post-single.html"><img src="assets/media/beach.jpg" alt="Post title" /></a>
                  </div>
                  <div class="post-block-content-wrap">
                    <div class="post-item-title">
                      <h2 class="post-title"><a href="post-single.html">The dark fate that awaits every player</a></h2>
                    </div>
                    <div class="post-bottom-meta-list">
                      <div class="post-meta-author-box">
                        <a href="javascript:void(0)">Cristiano</a>
                      </div>
                      <div class="post-meta-date-box">Sep 30</div>
                    </div>
                  </div>
                </div>
              </article>
              <article class="post-block-style-wrapper post-block-template-two post-video-list">
                <div class="post-block-style-inner post-block-list-style-inner">
                  <div class="post-block-media-wrap">
                    <a href="post-single.html"><img src="assets/media/sky-open.jpg" alt="Post title" /></a>
                  </div>
                  <div class="post-block-content-wrap">
                    <div class="post-item-title">
                      <h2 class="post-title"><a href="post-single.html">Perfection has to do with the end product</a></h2>
                    </div>
                    <div class="post-bottom-meta-list">
                      <div class="post-meta-author-box">
                        <a href="javascript:void(0)">Cristiano</a>
                      </div>
                      <div class="post-meta-date-box">Sep 30</div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
      <section class="popular-posts-column-area mt-60 mb-35">
        <div class="container">
          <div class="row">
            <div class="section-title">
              <h2 class="title-block">Popular Posts</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <article class="post-block-style-wrapper post-block-template-one post-block-template-medium mb-40">
                <div class="post-block-style-inner">
                  <div class="post-block-media-wrap">
                    <a href="post-single.html"><img src="assets/media/protest.jpg" alt="Post title" /></a>
                  </div>
                  <div class="post-block-content-wrap">
                    <div class="post-item-title">
                      <h2 class="post-title"><a href="post-single.html">London Wants To Have Its Brexit Cake and Eat It Too</a></h2>
                    </div>
                    <div class="post-excerpt-box">
                      <p>In Teaching White Supremacy, Donald Yacovone traces how the writing</p>
                    </div>
                    <div class="post-bottom-meta-list">
                      <div class="post-meta-author-box">
                        By <a href="javascript:void(0)">Laura Tanenbaum</a>
                      </div>
                      <div class="post-meta-date-box">Sep 22</div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-lg-4">
              <article class="post-block-style-wrapper post-block-template-one post-block-template-medium mb-40">
                <div class="post-block-style-inner">
                  <div class="post-block-media-wrap">
                    <a href="post-single.html"><img src="assets/media/protest.jpg" alt="Post title" /></a>
                  </div>
                  <div class="post-block-content-wrap">
                    <div class="post-item-title">
                      <h2 class="post-title"><a href="post-single.html">The Complicity of the Textbooks</a></h2>
                    </div>
                    <div class="post-excerpt-box">
                      <p>In Teaching White Supremacy, Donald Yacovone traces how the writing</p>
                    </div>
                    <div class="post-bottom-meta-list">
                      <div class="post-meta-author-box">
                        By <a href="javascript:void(0)">Laura Tanenbaum</a>
                      </div>
                      <div class="post-meta-date-box">Sep 22</div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-lg-4">
              <article class="post-block-style-wrapper post-block-template-one post-block-template-medium mb-40">
                <div class="post-block-style-inner">
                  <div class="post-block-media-wrap">
                    <a href="post-single.html"><img src="assets/media/bloomberg.jpg" alt="Post title" /></a>
                  </div>
                  <div class="post-block-content-wrap">
                    <div class="post-item-title">
                      <h2 class="post-title"><a href="post-single.html">Creating is a privilege but it's also a gift</a></h2>
                    </div>
                    <div class="post-excerpt-box">
                      <p>In Teaching White Supremacy, Donald Yacovone traces how the writing</p>
                    </div>
                    <div class="post-bottom-meta-list">
                      <div class="post-meta-author-box">
                        By <a href="javascript:void(0)">Laura Tanenbaum</a>
                      </div>
                      <div class="post-meta-date-box">Sep 22</div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-lg-4">
              <article class="post-block-style-wrapper post-block-template-one post-block-template-medium mb-40">
                <div class="post-block-style-inner">
                  <div class="post-block-media-wrap">
                    <a href="post-single.html"><img src="assets/media/protest.jpg" alt="Post title" /></a>
                  </div>
                  <div class="post-block-content-wrap">
                    <div class="post-item-title">
                      <h2 class="post-title"><a href="post-single.html">Your Empty Office Turn Into Apartments?</a></h2>
                    </div>
                    <div class="post-excerpt-box">
                      <p>In Teaching White Supremacy, Donald Yacovone traces how the writing</p>
                    </div>
                    <div class="post-bottom-meta-list">
                      <div class="post-meta-author-box">
                        By <a href="javascript:void(0)">Laura Tanenbaum</a>
                      </div>
                      <div class="post-meta-date-box">Sep 22</div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-lg-4">
              <article class="post-block-style-wrapper post-block-template-one post-block-template-medium mb-40">
                <div class="post-block-style-inner">
                  <div class="post-block-media-wrap">
                    <a href="post-single.html"><img src="assets/media/protest.jpg" alt="Post title" /></a>
                  </div>
                  <div class="post-block-content-wrap">
                    <div class="post-item-title">
                      <h2 class="post-title"><a href="post-single.html">Yeah, i bought some Dogecoin today</a></h2>
                    </div>
                    <div class="post-excerpt-box">
                      <p>In Teaching White Supremacy, Donald Yacovone traces how the writing</p>
                    </div>
                    <div class="post-bottom-meta-list">
                      <div class="post-meta-author-box">
                        By <a href="javascript:void(0)">Laura Tanenbaum</a>
                      </div>
                      <div class="post-meta-date-box">Sep 22</div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-lg-4">
              <article class="post-block-style-wrapper post-block-template-one post-block-template-medium mb-40">
                <div class="post-block-style-inner">
                  <div class="post-block-media-wrap">
                    <a href="post-single.html"><img src="assets/media/protest.jpg" alt="Post title" /></a>
                  </div>
                  <div class="post-block-content-wrap">
                    <div class="post-item-title">
                      <h2 class="post-title"><a href="post-single.html">The remarkable rise of Ryan Manson</a></h2>
                    </div>
                    <div class="post-excerpt-box">
                      <p>In Teaching White Supremacy, Donald Yacovone traces how the writing</p>
                    </div>
                    <div class="post-bottom-meta-list">
                      <div class="post-meta-author-box">
                        By <a href="javascript:void(0)">Laura Tanenbaum</a>
                      </div>
                      <div class="post-meta-date-box">Sep 22</div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>

{% endblock %}