<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todays Pick</title>
        <link rel="shortcut icon" type="image/x-icon"
            href="assets/media/favicon.png">
        <!-- Vendors CSS -->
        <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/vendor/font-awesome.css">
        <link rel="stylesheet" href="assets/css/vendor/icon-font.css">
        <link rel="stylesheet" href="assets/css/vendor/remixicon.css">
        <!-- Site Stylesheet -->
        <link rel="stylesheet" href="assets/css/app.css">
        <link rel="stylesheet" href="assets/css/responsive.css">
    </head>
    <body>
        <div class="col-lg-4">
            <div class="section-title">
                <h2 class="title-block">
                    Todays Pick
                </h2>
            </div>
            <div class="post-block-template-three-wrapper">
                <article
                    class="post-block-style-wrapper post-block-template-three">
                    <div
                        class="post-block-style-inner post-block-list-style-inner-three">
                        <div class="post-block-number-wrap">
                            <span class="post-number-counter">1</span>
                        </div>
                        <div class="post-block-content-wrap">
                            <div class="post-item-title">
                                <h2 class="post-title">
                                    <a href="post-single.html">Our
                                        company creates with a
                                        hobby</a>
                                </h2>
                            </div>
                            <div class="post-bottom-meta-list">
                                <div class="post-meta-author-box">
                                    By <a href="javascript:void(0)">Laura
                                        Tanenbaum</a>
                                </div>
                                <div class="post-meta-date-box">
                                    Sep 22
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article
                    class="post-block-style-wrapper post-block-template-three">
                    <div
                        class="post-block-style-inner post-block-list-style-inner-three">
                        <div class="post-block-number-wrap">
                            <span class="post-number-counter">2</span>
                        </div>
                        <div class="post-block-content-wrap">
                            <div class="post-item-title">
                                <h2 class="post-title">
                                    <a href="post-single.html">Sayaka
                                        Murata Inhabits a Planet
                                        of Her Own</a>
                                </h2>
                            </div>
                            <div class="post-bottom-meta-list">
                                <div class="post-meta-author-box">
                                    By <a href="javascript:void(0)">Laura
                                        Tanenbaum</a>
                                </div>
                                <div class="post-meta-date-box">
                                    Sep 22
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article
                    class="post-block-style-wrapper post-block-template-three">
                    <div
                        class="post-block-style-inner post-block-list-style-inner-three">
                        <div class="post-block-number-wrap">
                            <span class="post-number-counter">3</span>
                        </div>
                        <div class="post-block-content-wrap">
                            <div class="post-item-title">
                                <h2 class="post-title">
                                    <a href="post-single.html">Flutter:
                                        the good, bad and the
                                        ugly</a>
                                </h2>
                            </div>
                            <div class="post-bottom-meta-list">
                                <div class="post-meta-author-box">
                                    By <a href="javascript:void(0)">Laura
                                        Tanenbaum</a>
                                </div>
                                <div class="post-meta-date-box">
                                    Sep 22
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </body>
</html>