<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <div class="kendini-tanitma">
      <div class="author-bio-wrap">
        <div class="author-thumbnail">
          <img id="author-image" src="assets/media/model.jpg" alt="Author" />
          <input type="file" id="image-upload" accept="image/*"
            onchange="previewImage(event)" />
        </div>
        <div class="author-body">
          <div class="edit-container">
            <span class="subtitle">{{writer.user.first_name}}</span>
            <i class="fas fa-edit edit-icon"
              hx-get='{% url "writer_edit" writer.slug %}' hx-target='#contents'
              hx-swap='innerHTML'></i>
          </div>
          <h5 class="title">{{writer.user.last_name}}</h5>
          <p class="author-inner-text">{{writer.bio}}</p>
          <div class="social-share-author">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="kendini-tanitma">
      <div class="author-bio-wrap">
        <div class="author-thumbnail">
          <img id="author-image" src="assets/media/model.jpg" alt="Author" />
          <input type="file" id="image-upload" accept="image/*" onchange="previewImage(event)" />
        </div>
        <div class="author-body">
          <div class="edit-container">
            <span class="subtitle">Sr. UX Designer</span>
            <i class="fas fa-edit edit-icon" onclick="editAuthorDetails()"></i>
          </div>
          <h5 class="title">Kristin Watson</h5>
          <p class="author-inner-text">My favorite compliment is being told that I look like my mom. Seeing myself in her image, like this daughter up top, makes me so proud of how far I’ve come.</p>
          <div class="social-share-author">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
      </div>
    </div>



  </body>
</html>