<body>
    <header id="theme-header-one" class="theme-header-main header-style-one">
      <div class="theme-header-area">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-2">
              <div class="logo theme-logo">
                <a href="index.html"><img src="assets/media/logo.svg" alt="Logo" /></a>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="nav-menu-wrapper">
                <div class="mainmenu">
                  <nav class="nav-main-wrap">
                    <ul class="theme-navigation-wrap theme-main-menu">
                      <li>
                        <a href="index.html">Home</a>
                      </li>
                      <li class="has-children">
                        <a href="javascript:void(0)">Features</a>
                        <ul class="dropdown sub-menu">
                          <li>
                            <a href="blog-category.html">Category Page</a>
                          </li>
                          <li class="has-children">
                            <a href="blog.html">Blog Page</a>
                            <ul class="dropdown sub-menu">
                              <li>
                                <a href="blog.html">Blog List</a>
                              </li>
                              <li>
                                <a href="blog-grid.html">Blog Grid</a>
                              </li>
                            </ul>
                          </li>
                          <li>
                            <a href="post-single.html">Blog Single</a>
                          </li>
                          <li>
                            <a href="about.html">About Page</a>
                          </li>
                          <li>
                            <a href="contact.html">Contact Us</a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a href="blog-category.html">Fashion</a>
                      </li>
                      <li>
                        <a href="blog-category.html">Lifestyle</a>
                      </li>
                      <li>
                        <a href="blog-category.html">Travel</a>
                      </li>
                      <li>
                        <a href="contact.html">Contact</a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="header-right-wrapper">
                <div class="header_search_wrap">
                  <div class="search-icon theme-search-custom-iconn">
                    <i class="icofont-search-1"></i>
                  </div>
                  <div id="theme-serach-box_Inner">
                    <div class="theme-serach-box_inner_wrapper d-flex align-items-center">
                      <form role="search" method="get" id="searchform" class="search-form" action="post-single.html">
                        <div class="form-group">
                          <input type="text" class="search-input" id="popup-search" value name="s" placeholder="Type keywords here....." />
                        </div>
                        <button type="submit" id="serach-popup-btn-box" class="search-button submit-btn"><i class="icofont-search-1"></i></button>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="header-subscribe">
                  <a href="javascript:void(0)" class="subscribe-btn">Subscribe</a>
                </div>
                <div class="header-burger-menu">
                  <div class="burger-nav-bar">
                    <a class="tp-header__bars tp-menu-bar" href="javascript:void(0)"><i class="ri-menu-fill"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </body>
