<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Footer</title>
        <link rel="shortcut icon" type="image/x-icon"
            href="assets/media/favicon.png">
        <!-- Vendors CSS -->
        <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/vendor/font-awesome.css">
        <link rel="stylesheet" href="assets/css/vendor/icon-font.css">
        <link rel="stylesheet" href="assets/css/vendor/remixicon.css">
        <!-- Site Stylesheet -->
        <link rel="stylesheet" href="assets/css/app.css">
        <link rel="stylesheet" href="assets/css/responsive.css">
    </head>
    <body>

        <footer class="theme-footer-area">
            <div class="footer-top pt-80 pb-70">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="footer-widget widget">
                                <div class="footer-logo">
                                    <a href="index.html"><img
                                            src="assets/media/logo.svg"
                                            alt="Logo"></a>
                                </div>
                                <p>The stars will never align, and the
                                    traffic lights of life will never all be
                                    green at the same time.The stars will
                                    never align, and the traffic lights.</p>
                                <div class="footer-social">
                                    <a href="#"><i
                                            class="icofont-facebook"></i></a>
                                    <a href="#"><i
                                            class="icofont-twitter"></i></a>
                                    <a href="#"><i
                                            class="icofont-instagram"></i></a>
                                    <a href="#"><i
                                            class="icofont-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div
                                class="footer-widget widget widget-nav-menu ml-70">
                                <h4 class="widget-title">Resources</h4>
                                <ul class="menu">
                                    <li><a href="javascript:void(0)">What’s
                                            New</a></li>
                                    <li><a
                                            href="javascript:void(0)">Developers</a></li>
                                    <li><a
                                            href="javascript:void(0)">Releases</a></li>
                                    <li><a
                                            href="javascript:void(0)">Support</a></li>
                                    <li><a href="javascript:void(0)">Cookie
                                            Policy</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div
                                class="footer-widget widget widget-nav-menu">
                                <h4 class="widget-title">Useful Links</h4>
                                <ul class="menu">
                                    <li><a href="javascript:void(0)">What’s
                                            New</a></li>
                                    <li><a
                                            href="javascript:void(0)">Developers</a></li>
                                    <li><a
                                            href="javascript:void(0)">Releases</a></li>
                                    <li><a
                                            href="javascript:void(0)">Support</a></li>
                                    <li><a href="javascript:void(0)">Cookie
                                            Policy</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div
                                class="footer-widget widget widget-newsletter ml-30">
                                <h4 class="widget-title">Subscribe Now</h4>
                                <div class="footer-newsletter-wrapper">
                                    <form action="newsletter.php"
                                        method="post">
                                        <input type="email"
                                            placeholder="your@email.com"
                                            name="email" id="footer-email">
                                        <input type="submit" value
                                            id="footer-submit">
                                        <label class="custom-label">I have
                                            read and accept the Terms &
                                            Policy
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-divider"></div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="copyright-text">
                                <p>Copyright © Beatrix 2023. All rights
                                    reserved</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="footer-menu">
                                <ul class="footer-nav">
                                    <li><a href="javascript:void(0)">Privacy
                                            Policy</a></li>
                                    <li><a href="javascript:void(0)">Terms
                                            of Use</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <span class="scrolltotop"><i class="ri-arrow-up-s-line"></i></span>
    </body>
</html>