<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Most Recent</title>
        <link rel="shortcut icon" type="image/x-icon"
            href="assets/media/favicon.png">
        <!-- Vendors CSS -->
        <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/vendor/font-awesome.css">
        <link rel="stylesheet" href="assets/css/vendor/icon-font.css">
        <link rel="stylesheet" href="assets/css/vendor/remixicon.css">
        <!-- Site Stylesheet -->
        <link rel="stylesheet" href="assets/css/app.css">
        <link rel="stylesheet" href="assets/css/responsive.css">
    </head>
    <body>
        <div class="col-lg-8 most-recent-col-custom">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2 class="title-block">
                            Most Recent
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <article
                        class="post-block-style-wrapper post-block-template-one post-block-template-medium">
                        <div class="post-block-style-inner">
                            <div class="post-block-media-wrap">
                                <a href="post-single.html">
                                    <img
                                        src="assets/media/cafe.jpg"
                                        alt="Post title">
                                </a>
                            </div>
                            <div
                                class="post-block-content-wrap">
                                <div class="post-item-title">
                                    <h2 class="post-title">
                                        <a
                                            href="post-single.html">The
                                            Complicity of the
                                            Textbooks</a>
                                    </h2>
                                </div>
                                <div class="post-excerpt-box">
                                    <p>In Teaching White
                                        Supremacy, Donald
                                        Yacovone traces how the
                                        writing</p>
                                </div>
                                <div
                                    class="post-bottom-meta-list">
                                    <div
                                        class="post-meta-author-box">
                                        By <a
                                            href="javascript:void(0)">Laura
                                            Tanenbaum</a>
                                    </div>
                                    <div
                                        class="post-meta-date-box">
                                        Sep 22
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-6">
                    <article
                        class="post-block-style-wrapper post-block-template-one post-block-template-medium">
                        <div class="post-block-style-inner">
                            <div class="post-block-media-wrap">
                                <a href="post-single.html">
                                    <img
                                        src="assets/media/red-girl.jpg"
                                        alt="Post title">
                                </a>
                            </div>
                            <div
                                class="post-block-content-wrap">
                                <div class="post-item-title">
                                    <h2 class="post-title">
                                        <a
                                            href="post-single.html">When
                                            walking, I keep my
                                            eyes straight
                                            ahead</a>
                                    </h2>
                                </div>
                                <div class="post-excerpt-box">
                                    <p>Anelle, don’t look down.
                                        revere the sun. watch it
                                        make a shallow arc,
                                        skimming like a stone
                                    </p>
                                </div>
                                <div
                                    class="post-bottom-meta-list">
                                    <div
                                        class="post-meta-author-box">
                                        By <a
                                            href="javascript:void(0)">Laura
                                            Tanenbaum</a>
                                    </div>
                                    <div
                                        class="post-meta-date-box">
                                        Sep 22
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </body>
</html>