<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Populer</title>
        <!-- Vendors CSS -->
        <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/vendor/font-awesome.css">
        <link rel="stylesheet" href="assets/css/vendor/icon-font.css">
        <link rel="stylesheet" href="assets/css/vendor/remixicon.css">
        <!-- Site Stylesheet -->
        <link rel="stylesheet" href="assets/css/app.css">
        <link rel="stylesheet" href="assets/css/responsive.css">
    </head>
    <body>
        <div class="col-lg-4">

            <div class="sidebar blog-sidebar">
                <div class="section-title">
                    <h2 class="title-block">
                        Popular on Beatrix
                    </h2>
                </div>
                <article
                    class="post-block-style-wrapper post-block-template-two most-read-block-list">
                    <div
                        class="post-block-style-inner post-block-list-style-inner">
                        <div class="post-block-media-wrap">
                            <a href="post-single.html">
                                <img
                                    src="assets/media/brown-fashion.jpg"
                                    alt="Post title">
                            </a>
                        </div>
                        <div class="post-block-content-wrap">
                            <div class="post-item-title">
                                <h2 class="post-title">
                                    <a
                                        href="post-single.html">Rachel
                                        Maddow Will Go Mondays
                                        Only On MSNBC</a>
                                </h2>
                            </div>
                            <div class="post-bottom-meta-list">
                                <div
                                    class="post-meta-author-box">
                                    <a
                                        href="javascript:void(0)">Cristiano</a>
                                </div>
                                <div class="post-meta-date-box">
                                    Sep 30
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article
                    class="post-block-style-wrapper post-block-template-two most-read-block-list">
                    <div
                        class="post-block-style-inner post-block-list-style-inner">
                        <div class="post-block-media-wrap">
                            <a href="post-single.html">
                                <img
                                    src="assets/media/brown-fashion.jpg"
                                    alt="Post title">
                            </a>
                        </div>
                        <div class="post-block-content-wrap">
                            <div class="post-item-title">
                                <h2 class="post-title">
                                    <a
                                        href="post-single.html">Beauty
                                        products that still
                                        beloved today</a>
                                </h2>
                            </div>
                            <div class="post-bottom-meta-list">
                                <div
                                    class="post-meta-author-box">
                                    <a
                                        href="javascript:void(0)">Cristiano</a>
                                </div>
                                <div class="post-meta-date-box">
                                    Sep 30
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article
                    class="post-block-style-wrapper post-block-template-two most-read-block-list">
                    <div
                        class="post-block-style-inner post-block-list-style-inner">
                        <div class="post-block-media-wrap">
                            <a href="post-single.html">
                                <img
                                    src="assets/media/classic-dress.jpg"
                                    alt="Post title">
                            </a>
                        </div>
                        <div class="post-block-content-wrap">
                            <div class="post-item-title">
                                <h2 class="post-title">
                                    <a
                                        href="post-single.html">Using
                                        UX law in design are
                                        adept surprisingly</a>
                                </h2>
                            </div>
                            <div class="post-bottom-meta-list">
                                <div
                                    class="post-meta-author-box">
                                    <a
                                        href="javascript:void(0)">Cristiano</a>
                                </div>
                                <div class="post-meta-date-box">
                                    Sep 30
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article
                    class="post-block-style-wrapper post-block-template-two most-read-block-list">
                    <div
                        class="post-block-style-inner post-block-list-style-inner">
                        <div class="post-block-media-wrap">
                            <a href="post-single.html">
                                <img
                                    src="assets/media/sky-hat.jpg"
                                    alt="Post title">
                            </a>
                        </div>
                        <div class="post-block-content-wrap">
                            <div class="post-item-title">
                                <h2 class="post-title">
                                    <a
                                        href="post-single.html">Five
                                        signs of a healthy
                                        intelligent person</a>
                                </h2>
                            </div>
                            <div class="post-bottom-meta-list">
                                <div
                                    class="post-meta-author-box">
                                    <a
                                        href="javascript:void(0)">Cristiano</a>
                                </div>
                                <div class="post-meta-date-box">
                                    Sep 30
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

        </div>

    </body>
</html>